ws_lunch/resources/restaurantResponse.xml1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2001/12/soap-envelope" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Envelope" type="soap:EnvelopeType" xmlns:soap="http://www.w3.org/2001/12/soap-envelope"/>
  <xs:complexType name="EnvelopeType">
    <xs:sequence>
      <xs:element type="soap:BodyType" name="Body" xmlns:soap="http://www.w3.org/2001/12/soap-envelope"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="encodingStyle"/>
  </xs:complexType>
  <xs:complexType name="BodyType">
    <xs:sequence>
      <xs:element ref="stoc:getRestaurantsResponse" xmlns:stoc="http://www.example.org/stock"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>