finalFrontier/src/generated/service/client/LunchService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LunchServiceService" targetNamespace="http://service/" xmlns:ns1="http://localhost/LunchService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost/LunchService" elementFormDefault="unqualified" targetNamespace="http://localhost/LunchService" version="1.0">
<xs:element name="getRestaurant" type="tns:getRestaurant"/>
<xs:element name="getRestaurantResponse" type="tns:getRestaurantResponse"/>
<xs:complexType name="getRestaurant">
    <xs:sequence>
      <xs:element minOccurs="0" name="rest" type="tns:restaurant"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="restaurant">
    <xs:sequence>
      <xs:element minOccurs="0" name="restaurantName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getRestaurantResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="String" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getRestaurantResponse">
    <wsdl:part name="parameters" element="ns1:getRestaurantResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRestaurant">
    <wsdl:part name="parameters" element="ns1:getRestaurant">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LunchService">
    <wsdl:operation name="getRestaurant">
      <wsdl:input name="getRestaurant" message="ns1:getRestaurant">
    </wsdl:input>
      <wsdl:output name="getRestaurantResponse" message="ns1:getRestaurantResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LunchServiceServiceSoapBinding" type="ns1:LunchService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getRestaurant">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRestaurant">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRestaurantResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LunchServiceService">
    <wsdl:port name="LunchServicePort" binding="ns1:LunchServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/LunchServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
